body {
    background: MediumTurquoise;
}
.p0{
    font-size: 18px;
    color: aliceblue;
    margin: 10px;
    text-align: center;
}
.two{
    float: left;
    margin: 5px;
    color: aliceblue;
}
.whr{
    float: right;
    margin: 5px;
    color: aliceblue;
}