body{
    margin: 0;
    background: #29bde0;
}
header{
    width: 100%;
    height: 55px;
    background: #29bde0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
.menu{
    margin-left: 20px;
}
.cast{
    color: #fff;
    font-size: 1.5rem;
}
.wrong{
    margin-right: 20px;
}
.say{
    margin-top: 55px;
    height: 70px;
    background: #b9e9f5;
    background-image: url(../img/task7.2.7.png);
    background-repeat: no-repeat;
    background-position: 96%;
}
.please{
    line-height: 66px;
    margin-left: 50px;
}
.greens{
    width: 100%;
    background: #29bde0;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #b9e9f5;
    margin-left: 66px;
}
.click{
    height: 50px;
    background: #29bde0;
    color: #fff;
    line-height: 30px;
    padding-left: 65px;
}
.lake{
    margin: 50px 40px 50px 40px;
    display: flex;
    justify-content: space-around;
}
.figure:hover +.cold{
    opacity: 1;
}
.figure {
    width: 18vw;
    height: 18vw;
    background: #f5c97b;
    border: 1vw solid #fff;
}
.block{
    text-align: center;
    line-height: 13.5vw;
}
.number{
    background: #83b09a;
    text-align: center;
    line-height: 4.5vw;
}
.cold{
    width: 19vw;
    height: 6vw;
    background-image: url(../img/7.2.3.png);
    background-repeat: no-repeat;
    background-size: 19vw;
    margin-top: 2vw;
    opacity: 0;
}
.tool{
    height: 30px;
    width: 30px;
    background-position: -40px 0;
}
.mirror{
    height: 30px;
    width: 30px;
    background-position: -80px 0;
}
.permit{
    height: 30px;
    width: 30px;
    background-position: -120px 0;
}
.cross{
    height: 30px;
    width: 30px;
    background-position: 0 0;
}
.vote{
    height: 8vw;
    position: fixed;
    bottom: 0;
}
a{
    text-decoration: none;
}
.agree{
    width: 40vw;
    height: 10vw;
    background: #fbb435;
    text-align: center;
    line-height: 8vw;
    color: #fff;
    margin-left: 29vw;
    font-size: 1.5rem;
}