body {
    background: MediumTurquoise
}
.p0 {
    font-size: 18px;
    color: aliceblue;
    margin: 30px;
    text-align: center;
}
.two{
    float: left;
    margin: 10%;
    color: aliceblue;
}
.whr{
    float: right;
    margin: 10%;
    color: aliceblue;
}