$one: #1a9ee4;
$two: #ccc;
$three: #fff;
$four: 1.5rem;
$five: 40px;
body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 780px;
}
main{
  background-color: #f0f4f7;
  height: 100vh;
}
header{
  background-color: $one;
  .head-picture{
    display: flex;
    padding-top: ($five / 4);
    padding-bottom: ($five / 4);
  }
}
.register{
  color: $three;
  font-size: 1.3rem;
  margin-left: $five;
}

.arrows{
  margin-left: ($five / 4);
}
.import{
  background-color: $three;
  display: flex;
  margin-bottom: ($five / 8);;
  margin-top: ($five / 4);
  margin-left: 2px;
  margin-right: 2px;
  .phone{
    margin-left: ($five / 4);
    margin-right: ($five / 4);
    padding-top: ($five / 6);
  }
}
input{
  height: ($five * 1.25);
  width: 85%;
  border: none;
  outline: none;
}
.import-box{
  background-color: $three;
  display: flex;
  margin-bottom: ($five / 8);;
  margin-top: ($five / 4);
  margin-left: 2px;
  margin-right: 2px;
  .phone{
    margin-left: ($five / 4);
    margin-right: ($five / 4);
    padding-top: ($five / 6);
  }
}
.tips{
  margin-top: $five;
  padding-left: 3vw;
  padding-right: 3vw;
  .somatic{
    height: $five;
    background-color: $one;
    text-align:center;
    line-height: ($five / 1.14);
    border-radius: ($five / 8);
    color: $three;
  }
}
.register-two{
  float: left;
  color: $two;
  margin-left: 3vw;
}
.forget{
  float: right;
  color: $two;
  margin-right: 3vw;
}
.alert{
  margin-bottom: ($five * 4);
}
.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  .left{
    height: 1px;
    width: 20%;
    background-color: #ccc;
  }
  .third{
    margin-left: ($five / 4);
    margin-right: ($five / 4);
  }
}
.way{
  display: flex;
  justify-content: center;
  margin-top: $five;
  .wechat{
    text-align: center;
  }
  .microblog{
    text-align: center;
    margin-left: ($five / 2);
    margin-right: ($five / 2);
  }
  .tencent{
    text-align: center;
  }
}
.wechat p{
  font-size: 0.9rem;
}
.microblog p{
  font-size: 0.9rem;
}
.tencent p{
  font-size: 0.9rem;
}