$one: #29bde0;
$two: #fff;
$three: #b9e9f5;
body{
  margin: 0;
}
.max{
  min-width: 320px;
  max-width: 780px;
  height: 100vh;
  margin: 0 auto;
  background: #29bde0;
}
header{
  min-width: 320px;
  max-width: 780px;
  width: 100%;
  height: 55px;
  background: $one;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
.menu{
  margin-left: 20px;
  cursor:pointer
}
.cast{
  color: $two;
  font-size: 1.5rem;
}
.wrong{
  margin-right: 20px;
  cursor:pointer
}
.say{
  margin-top: 55px;
  height: 70px;
  background: $three;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.please{
  margin-left: 50px;
}
.please-one{
  margin-right: 15px;
}
audio{
  opacity: 0;
  width: 78px;
  position: absolute;
  right: -10px;
}
.greens{
  width: 100%;
  background: $one;
}
.triangle{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid $three;
  margin-left: 66px;
}
.click{
  height: 50px;
  background: $one;
  color: $two;
  line-height: 30px;
  padding-left: 65px;
}
.lake{
  display: flex;
  flex-wrap: wrap;
  text-align: -webkit-center;
}
.box{
  flex: 0 0 33.3333%;
  margin-bottom: 30px;
}
.figure {
  width: 80px;
  height: 80px;
  background: #f5c97b;
  border: 5px solid $two;
}
.block{
  text-align: center;
  line-height: 60px;
}
.number{
  background: #83b09a;
  display: flex;
  justify-content: center;
  line-height: 21px;
}
.look{
  height: 100px;
}
.vote{
  min-width: 320px;
  max-width: 780px;
  width: 100%;
  height: 12%;
  position: fixed;
  bottom: 0;
  background: $one;
  border-top: 2px solid #74d4eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}
.agree{
  padding: 10px 80px 10px 80px;
  background: #fbb435;
  text-align: center;
  line-height: 48px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}