body{
  margin: 0;
}
main{
  min-width: 320px;
  max-width: 780px;
  margin: 0 auto;
  height: 100vh;
  background-color: #29bde0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #74d4eb;
  padding: 0 10px 0 10px;
}
.middle{
  text-align: -webkit-center;
}
#circle{
  position: relative;
  top: 30px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  border: 2px solid #ffedc5;
  color: #f56b81;
  font-size: 2rem;
}
.sign{
  margin-left: 50px;
  margin-right: 50px;
  height: 60vh;
  background-color: #ffedc5;
  border: 5px solid #fff;
  border-radius: 5px;
}
.overturn{
  position: relative;
  top: 80px;
}
.base{
  margin: 20px 50px 20px 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  background-color: #fbb435;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor:pointer;
}
.role{
  color: #29bde0;
}
#hidden{
  margin-top: 40px;
  display: none;
}
.id{
  width: 160px;
  height: 20px;
  margin-top: 40px;
  color: #29bde0;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #ffedc5;
}
#box{
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #fbb435;
  color: #fff;
  font-size: 1.6rem;
}
#examine{
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #fbb435;
  color: #fff;
  font-size: 1.6rem;
}
.girl{
  position: relative;
  top: 30px;
}