body{
  margin: 0 auto;
  min-width: 320px;
  max-width: 780px;
}
.box-one{
  display: flex;
  justify-content: center;
}
.news {
  padding-top: 25%;
  width: 25%;
  background: #FF8C00 ;
  margin: 1%;
  border-radius: 7%;
}
.two{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box-two{
  padding: 25px 60px 25px 60px;
  color: #FF8C00;
  border: 1px solid #FF8C00;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
.box-two:hover{
  background-color: #FF8C00;
  color: #fff;
}