@import "utils/mixin.scss";
$one: #55a8b3;
$two: #999;
$three: #fff;
$five: 40px;
body{
  margin: 0;
}
header{
  width: 100%;
  position: fixed;
  top: 0;
}
.consult{
  width: 100%;
  height: ($five * 1.5);
  background: $one;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .look{
    margin-left: ($five / 2.22);
    @include layout;
  }
  .employer{
    width: ($five * 5);
    height: ($five * 1.25);
    line-height: ($five * 1.125);
    font-size: 1.5rem;
    border-radius: ($five / 5);
    text-align: center;
    color: $three;
    background: $one;
  }
  .worker{
    float: right;
    width: ($five * 2.5);
    height: ($five * 1.25);
    line-height: ($five * 1.125);
    background: $three;
    font-size: 1.5rem;
    border-radius: ($five / 5);
    text-align: center;
    color: $one;
  }
}
.icon{
  margin-right: 20px;
}
.below{
  display: flex;
  width: 100%;
  height: ($five * 1.25);
  border-bottom: 1px solid $two;
}
.scenery{
  height: ($five * 2.75);
}
.box{
  width: 33.33%;
  height: ($five * 1.25);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.35s;
}
.box:hover{
  height: ($five * 6.25);
  z-index: 99;
}
.box ul{
  list-style:none;
  margin:0; padding:0;
}
.box ul li{
  line-height: ($five * 1.25);
  text-align: center;
  border:1px $two solid;
  background:$three;
  color:$two;
  font-size:1.1rem;
  background-image: url(../../img/task6.4.png);
  background-repeat: no-repeat;
  background-position:97% ($five / 2);
}
.old{
  width: 33.33%;
  height: ($five * 1.25);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.35s;
}
.old:hover{
  height: ($five * 6.25);
  z-index: 99;
}
.deny{
  list-style:none;
  margin:0; padding:0;
}
.old ul li{
  line-height: ($five * 1.25);
  text-align: center;
  border:1px $two solid;
  background:$three;
  color:$two;
  font-size:1.1rem;
  background-image: url(../../img/task6.4.png);
  background-repeat: no-repeat;
  background-position:97% ($five / 2);
}
.patient{
  width: 33.33%;
  height: ($five * 1.25);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.35s;
}
.patient:hover{
  height: ($five * 6.25);
  z-index: 99;
}
.oneself{
  list-style:none;
  margin:0; padding:0;
}
.patient ul li{
  line-height: ($five * 1.25);
  text-align: center;
  border:1px $two solid;
  background:$three;
  color:$two;
  font-size:1.1rem;
  background-image: url(../../img/task6.4.png);
  background-repeat: no-repeat;
  background-position:97% ($five / 2);
}
.serve{
  height: ($five / 1.142);
  padding-top: ($five / 2);
  .time{
    float: left;
    margin-left: ($five * 1.125);
    margin-right: ($five / 4);
    padding-top: ($five / 20);
  }
  .date{
    font-size: 1.1rem;
    color: $two;
  }
}
.figure{
  height: ($five * 1.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: ($five * 2);
  .year{
    width: 36%;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .money{
    font-size: 1rem;
    color: crimson;
  }
}
.import{
  vertical-align: middle;
  margin-left: ($five / 4);
}
.location{
  height: ($five / 1.142);
  padding-bottom: ($five / 5);
  border-bottom: 1px solid $two;
  display: flex;
  align-items: center;
}
.sign{
  margin-left: ($five * 1.125);
  margin-right: ($five / 4);
}
.orchard{
  font-size: 1.1rem;
  color: $two;
}
.rectangle{
  height: ($five * 2);
}
.tail{
  width: 100%;
  height:($five * 2.05);
  border-top: 1px solid $two;;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $three;
  position: fixed;
  bottom: 0;
}
.house{
  height: ($five * 1.625);
  width: ($five * 1.125);
  .earlier {
    text-align: center;
    color: $one;
  }
}
.write{
  width: ($five * 1.75);
  height: ($five * 1.75);
  background: $one;
  border-radius: 50%;
  background-image: url(../../img/task6.7.png);
  background-repeat: no-repeat;
  background-position: ($five / 2.352) ($five / 3.333);
}
.person{
  width: $five;
  height: ($five * 1.625);
  .me{
    text-align: center;
    color: $two;
  }
}