body {
  margin: 0; }

header {
  width: 100%;
  position: fixed;
  top: 0; }

.consult {
  width: 100%;
  height: 60px;
  background: #55a8b3;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .consult .look {
    margin-left: 18.018018018px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .consult .employer {
    width: 200px;
    height: 50px;
    line-height: 45px;
    font-size: 1.5rem;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    background: #55a8b3; }
  .consult .worker {
    float: right;
    width: 100px;
    height: 50px;
    line-height: 45px;
    background: #fff;
    font-size: 1.5rem;
    border-radius: 8px;
    text-align: center;
    color: #55a8b3; }

.icon {
  margin-right: 20px; }

.below {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #999; }

.scenery {
  height: 110px; }

.box {
  width: 33.33%;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.35s; }

.box:hover {
  height: 250px;
  z-index: 99; }

.box ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.box ul li {
  line-height: 50px;
  text-align: center;
  border: 1px #999 solid;
  background: #fff;
  color: #999;
  font-size: 1.1rem;
  background-image: url(../../img/task6.4.png);
  background-repeat: no-repeat;
  background-position: 97% 20px; }

.old {
  width: 33.33%;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.35s; }

.old:hover {
  height: 250px;
  z-index: 99; }

.deny {
  list-style: none;
  margin: 0;
  padding: 0; }

.old ul li {
  line-height: 50px;
  text-align: center;
  border: 1px #999 solid;
  background: #fff;
  color: #999;
  font-size: 1.1rem;
  background-image: url(../../img/task6.4.png);
  background-repeat: no-repeat;
  background-position: 97% 20px; }

.patient {
  width: 33.33%;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.35s; }

.patient:hover {
  height: 250px;
  z-index: 99; }

.oneself {
  list-style: none;
  margin: 0;
  padding: 0; }

.patient ul li {
  line-height: 50px;
  text-align: center;
  border: 1px #999 solid;
  background: #fff;
  color: #999;
  font-size: 1.1rem;
  background-image: url(../../img/task6.4.png);
  background-repeat: no-repeat;
  background-position: 97% 20px; }

.serve {
  height: 35.0262697023px;
  padding-top: 20px; }
  .serve .time {
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    padding-top: 2px; }
  .serve .date {
    font-size: 1.1rem;
    color: #999; }

.figure {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px; }
  .figure .year {
    width: 36%;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .figure .money {
    font-size: 1rem;
    color: crimson; }

.import {
  vertical-align: middle;
  margin-left: 10px; }

.location {
  height: 35.0262697023px;
  padding-bottom: 8px;
  border-bottom: 1px solid #999;
  display: flex;
  align-items: center; }

.sign {
  margin-left: 45px;
  margin-right: 10px; }

.orchard {
  font-size: 1.1rem;
  color: #999; }

.rectangle {
  height: 80px; }

.tail {
  width: 100%;
  height: 82px;
  border-top: 1px solid #999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  position: fixed;
  bottom: 0; }

.house {
  height: 65px;
  width: 45px; }
  .house .earlier {
    text-align: center;
    color: #55a8b3; }

.write {
  width: 70px;
  height: 70px;
  background: #55a8b3;
  border-radius: 50%;
  background-image: url(../../img/task6.7.png);
  background-repeat: no-repeat;
  background-position: 17.0068027211px 12.00120012px; }

.person {
  width: 40px;
  height: 65px; }
  .person .me {
    text-align: center;
    color: #999; }

/*# sourceMappingURL=task12.1.css.map */
