body {
  margin: 0; }

.like {
  margin: 0 auto;
  min-width: 320px;
  max-width: 780px;
  background-color: #fafafa; }

header {
  background: #5fc0cd;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .nav {
    margin: 15.037593985px; }
  header .subnav {
    color: aliceblue;
    font-size: 30.0751879699px; }

.vote {
  background-image: url(../../img/task5.15.png);
  height: 320px;
  background-repeat: no-repeat;
  background-size: 101% 100%;
  display: flex;
  align-items: center; }
  .vote .ink {
    flex-direction: column;
    margin-left: 20px; }
  .vote .woman {
    width: 100px;
    height: 100px;
    margin-left: 20px; }
  .vote .name {
    color: aliceblue;
    font-size: 30.0751879699px; }
  .vote .icon {
    flex-wrap: wrap; }

.age {
  color: aliceblue;
  font-size: 30.0751879699px; }

.site {
  color: aliceblue;
  font-size: 22.9885057471px;
  display: flex;
  align-items: center; }

.skill {
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center; }
  .skill .major {
    border-color: #5fc0cd;
    border-left-style: solid;
    font-size: 22.0994475138px;
    margin: 10px;
    padding-left: 15.037593985px;
    margin-left: 20px; }

.vertical {
  float: left;
  margin: 10px; }

.put {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #000;
  height: 68px;
  align-items: center; }
  .put .home {
    padding-right: 30.0751879699px;
    font-size: 20px;
    border-right: 2px solid #999;
    display: flex;
    align-items: center;
    margin: 20px; }
  .put .sudden {
    margin-right: 9.009009009px; }
  .put .meal {
    margin: 18.018018018px;
    font-size: 20px;
    display: flex;
    align-items: center; }

.time {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000; }
  .time .industry {
    margin: 25px;
    padding-right: 20px;
    border-right-style: solid;
    font-size: 20px;
    color: #999; }
  .time .charge {
    margin: 25px;
    margin-left: 0;
    font-size: 20px;
    color: #e26163; }

.figure {
  margin: 25px;
  margin-left: 0;
  font-size: 20px; }

.need {
  margin: 25px;
  padding-right: 20px;
  border-right-style: solid;
  font-size: 20px;
  color: #999;
  min-width: 80px; }

.look {
  margin: 25px;
  margin-left: 0;
  font-size: 20px; }

.language {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 320px;
  max-width: 760px;
  margin: 0 auto;
  position: fixed;
  z-index: 999999;
  width: 100%;
  bottom: 0;
  height: 60px;
  background-color: #fafafa; }
  .language .this {
    text-align: center;
    line-height: 40px;
    width: 40vw;
    margin: 0 20px;
    border: 2px solid #5fc0cd;
    border-radius: 6.6666666667px;
    color: #5fc0cd; }
  .language .phone {
    text-align: center;
    line-height: 40px;
    width: 40vw;
    margin: 0 20px;
    border-radius: 6.6666666667px;
    background-color: #5fc0cd;
    color: #fff;
    border: 2px solid #5fc0cd; }

.design {
  height: 200px; }

a {
  text-decoration: none;
  color: #fff; }

.name {
  text-decoration: none;
  color: #5fc0cd; }

/*# sourceMappingURL=task12.css.map */
