$one: #29bde0;
$two: #fff;
$three: #fbb435;
$four: #9c9c9c;
$five: 50px;
body{
  margin: 0;
  background:$two;
}
.max{
  min-width: 320px;
  max-width: 780px;
  margin: 0 auto;
  background-color: #fafafa;
  height: 100vh;
}
.picture-one{
  margin-left: 3px;
}
.picture-three{
  margin-left: 3px;
  margin-right: 3px;
}
.picture-four{
  margin-left: 4px;
  margin-right: 4px;
}
aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  width: 50%;
  transition: 0.2s ease-out;
  background-color: $two;
  display: none;
}
#sidemenu {
  display: none;
}
#sidemenu:checked + aside {
  left: 0;
  display: block;
}
.notice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid $four;
  color: $one;
  padding: 0 10px;
}
.notice .notice-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.son {
  margin-left: 20px;
}
.wrap-left {
  transition: 0.2s ease-out;
  background-color: $one;
  padding: 0 10px;
  color: $two;
}
#sidemenu:checked ~ #wrap {
  padding-left: 50%;
  margin-right: -50%;
}
label {
  background: $one;
  border-radius: 70px;
  cursor: pointer;
  display: block;
  font-family: Courier New;
  font-size: 2em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
}
.next {
  width: 80%;
  height: ($five * 1.6);
  text-align: center;
  line-height: ($five * 1.56);
  font-size: 1rem;
  color: $four;
  background: $two;
  margin-left: 10%;
  margin-top: ($five / 1.666);
  background-image: url(../../img/task7.2.png);
  background-repeat: no-repeat;
  background-position: 99% ($five / 2.5);
}
.large{
  width: 80%;
  height: ($five * 1.4);
  background: $two;
  margin-left: 10%;
  margin-top: ($five / 2.5);
  text-align: center;
  line-height: ($five * 1.4);
  color: $three;
  border-bottom: 1.5px solid $three;
}
.edition{
  width: 80%;
  height: ($five * 7.4);
  background: $two;
  margin-left: 10%;
  padding-top: ($five / 2.5);
  background-image: url(../../img/task7.1.png);
  background-repeat: no-repeat;
  background-position: 95% 39%;
}
a{
  text-decoration:none;
}
.simple{
  width: 60%;
  height: ($five * 1.2);
  background: $one;
  text-align: center;
  line-height: 56px;
  margin-left: 18%;
  color: $two;
}
.figure{
  color: $four;
  text-align: center;
  margin-top: ($five / 3.333);
  margin-bottom: ($five / 3.333);
}
.money{
  display: flex;
  justify-content: center;
}
.million{
  width: ($five / 3.333);
  height: ($five / 3.333);
  background: #69d1e9;
  border-radius: 50%;
  margin-right: ($five / 10);
}
.consult{
  width: ($five / 3.333);
  height: ($five / 3.333);
  background: #f0f0f0;
  border-radius: 50%;
  margin-right: ($five / 10);
}
.consult:hover {
  background-color: $one;
}
